name: Run Playwright Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Clear Allure reports
        run: rm -rf allure-reports/*

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Install Playwright
        run: npx playwright install

      - name: Run Playwright Tests
        run: npx playwright test

      - name: Generate Allure report
        run: npx allure generate allure-results --clean -o allure-reports
        if: always()

      - name: Deploy Allure report to GitHub Pages
        id: deploy-to-gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-reports
        if: always()

      - name: Switch to gh-pages branch
        run: git checkout gh-pages
        working-directory: /allure-reports

      - name: Execute Telegram Notification Script
        run: |
          git checkout gh-pages
          chmod +x Telegramm.sh
          ./Telegramm.sh
        if: always()
